#grid{
  display: grid;
  grid-template-columns: 1px 1fr 1px;
  
}
.square{
  border: 1px solid gray;
  height: 60px;
}
body{
  background-image:url(grass.png);
  background-repeat: repeat;
}
